body {
    margin: 0;
    font-family: 'Inter', sans-serif;

}

.paragraph-indent {
    margin: 30px 130px 40px;
}

h1 {

    font-size: 70px;
    font-weight: 700;


}

h2 {
    font-size: 37px;
    font-weight: 700;

}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    

}

h4 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    color:#FF5959;


}



.paragraph {
    color: #707070;

}


.banner-section {
    background-image: url(./my-images/donation_money.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    text-align: center;
    padding: 40px 170px;



}

.donate_link_buttun {
    color: white;
    border-radius: 5px;
    background-color: #FF5959;
    text-decoration: none;
    border: none;
     
    width: 160px;
    height: 56px;
    font-size: 20px;
   

    padding: 14px 18px;

}

.banner-div-text {
    color: white;

    font-size: 18px;
    margin-bottom: 80px;

}

.donate-section {
    padding: 60px 0;
    text-align: center;
    font-size: 18px;
}

.donate-section form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

input {

    border: none;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #DADADA;
    font-size: 18px;
    padding: 12px 20px;
    margin: 40px 0 30px;

}




.donation_amount_button {
    background-color: #FAFAFA;
    border: none;
    border-radius: 5px;
    color: #707070;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    font-weight: 600;


}

#donated_button {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    font-weight: 600;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;

}

.donate-plan-section {
    padding: 0 60px;
    text-align: center;
    font-size: 18px;
}

.flexible-container {
    display: flex;
    margin: 70px;

}

#Food_for_a_family {
    background-color: #4F9DA61A;
}

#Shelter_for_a_family {
    background-color: #FF59591A;
}

#Education_for_a_child {
    background-color: #FFFF8F;
}


.donation_plan-items {

    border: none;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 1%;
    width: 29%;
    height: 32vh;
    padding: 50px 20px;
    text-align:left;

}
.updates-section{
    padding:0 50px 60px;
     
    text-align: center;
    font-size: 18px;
    

}
.update-div{
    background-color:#FFF4D6;
    width:50%;
    margin-left:20%;
    margin-right:25%;
    padding:40px 80px;
    background-position:center;
     
    
     
}
input[type=email]
{
    background-color:#D9D9D9;
    border:2px solid #D9D9D9;
    text-align:left;
     
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    position:relative;
    right:30px;
    left:5px;
     
     
}
.subscribe-button{
    color: white;
     
    background-color: #FF5959;
    text-decoration: none;
    border: none;
     
    width: 160px;
    height: 50px;
    font-size: 20px;
   

    padding: 12px 18px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

 

footer {
    text-align: center;
    background-color: #0B0D17;
    padding:18px 0;
    color: white;
    font-size:14px;
    
}